@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    margin: 0;
    padding: 0;
}

/******************************* Header **********************************/ 
video{
    z-index: -1;
    width: 100%;
    height: 100%;
}

.navBar{
    padding: 2%;
    position: absolute;
    top:10px;
    background: white;
    height: 100%;
    width: 250px;
    margin-top: -3%;
    opacity: 0.8;
    text-align: center;
    left: -300px;
    transition: 1s ease-in-out;
}

.logo{
    font-size: 2.5rem;
}
.list{
    list-style: none;
}
.item-list{
    font-size: 2.2em;
    cursor: pointer;
    
}
.item-list:hover{
    color: tomato;
    font-size: 2.6em;
    text-shadow: 1px 1px 5px black;
    transition: 0.5s ease-in;
}
.toggle-btn{
    position: absolute;
    top: 30px;
    left: 310px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: 0.5s ease-in;
}

.toggle-btn span {
    width: 60px;
    height: 10px;
    background: white;
    display: block;
    margin-top: 5px;
    
}

.active{
    left: 0px;

}




/******************************* MAIN **********************************/ 
.color{
background: rgba(179, 179, 182,0.3);
margin-top: 30px;
margin-bottom: 5px;
padding: 1%;
}

.quote{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

.color2{
    color: white;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 3%;
   
    }

.quote,h2,h3{
    text-align: center;
    margin-top: 50px;
}

.about-jjb img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.about-jjb p, .practice-jjb, .dojo-jjb {
    text-align: justify;
    padding: 2%;
}
.card-presentation{
    margin: 10%;
}
.card-icon img{
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: -5%;
}
.separation{
    background: url(./media/wp2336705.jpg) no-repeat fixed center;
    height: 30vh;
    background-size: cover;
   
}
.contact{
    background: rgba(179, 179, 182,0.3);
    
}
.contact input, textarea {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   height: 30px;
   width: 80%;
}

.contact button {
    width: 100px;
    height: 30px;
    margin :5%;
    background: rgb(5, 184, 5);
    border-radius: 10%;
    box-shadow: 5px -3px 1px green;
    border: none;
    color: ivory;
}

/************************* MediaQueries ****************************************/
@media only screen and (min-width:700px){
   
  body{
       overflow-x: hidden;
   }
    .navBar{
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 5vh;
        margin-top: 3px;
    }

    .logo{
        font-size: 1.6em;
        margin-left: 10%;
    }
    .list{
        width: 100%;
    }
    .item-list{
        display: inline;
        font-size: 1.8em;
        margin-left: 20px;
        
    }
    .item-list:hover{
        font-size: 1.7rem;
    }
    .toggle-btn span {
        display: none;
        cursor: none;

    }

    
}

@media only screen and (min-width:1000px){
   
  
    .item-list{
        margin-left: 30px;
    }


    .practice-jjb{
        padding: unset;
        display: block;
        padding-left: 5%;
        padding-right: 15%;
    }
    .practice-jjb article {
        width: 70vw;
        display: flex;
        justify-content: space-between;
        flex-wrap:nowrap;
    }

    .practice-jjb img {
        margin: unset;
    }
}